* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("../images/Lords2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 50px;
}

h1 {
    width: 30%;
    margin: 0 auto;
    background: navy;
    color: #fff;
    text-align: center;
    padding: 1%;
    font-size: 3rem;
}

nav {
    text-align: right;
    padding: 20px 0;
}

nav > a {
    background-color: #fff;
    padding: 10px 10px;
    color: #222;
    text-decoration: none;
}

nav > a:hover {
    color: #000;
    font-size: 1.1rem;
}

/* Game Play page styles */

#scoreboard-area {
    background-color: #000;
    color: #fff;
    letter-spacing: .2rem;
    font-size:2rem;
    padding: 20px;
}

.score-box {
    border: 2px #444 solid;
    background-color: #222;
    padding: 5px;
    margin-left: 20px;
    text-align: right;
}

.batsman-label {
    text-align: right;
}

.batsman-score {
    text-align: center;
}

.batsman-score > span {
    position: relative;
    left: 45px;
}

.innings-total {
    text-align: center;
}

.wickets {
    text-align:center;
}    

.last-wicket {
    text-align:center;
}

.last-batsman {
    text-align:center;
}

.result-message {
    background-color: #fff;
    border: 1px black solid;
    border-radius: 10px;
    width: 75%;
    margin: 25px auto;
    
}

.button {
    text-align: center;
}

/* Scorecard*/